@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat'), url('Montserrat.ttf') format('opentype');
}
@font-face {
  font-family: 'MontserratItalic';
  font-weight: 300;
  font-style: normal;
  src: local('Montserrat'), url('Montserrat-Italic.ttf') format('opentype');
}
